@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1050 Woodward Ave.<br />
    Detroit, MI 48226<br />
    <abbr title="Phone">P:</abbr>
    800.863.4332
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:adamgerecke@quickenloans.com">Support</a><br />
    <strong>Web Page Support:</strong> <a href="mailto:adamgerecke@quickenloans.com">Web Page Support</a>
</address>